body{
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../imagens/logo-nova.png");
  background-image: cover;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0C0C0B;

  font-family: Segoe UI, Arial;
}

.menu-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.menu-container h1{
  background:#0A0A09;
  border-radius:12px;
  padding:1px 7px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
  font-size:35px;
  font-weight:bold;
  color:#ffffff;
}

.menu-grid{
  display:grid;
  grid-template-columns: repeat(3, 220px);
  gap:30px;
}

.menu-btn{
  background:rgb(255, 255, 255);
  border-radius:12px;
  padding:40px 20px;
  text-align:center;
  cursor:pointer;
  box-shadow:0 10px 20px rgba(0,0,0,.1);
  transition:.2s;
  font-size:20px;
  font-weight:bold;
  color:#333;
}

.menu-btn:hover{
  transform:translateY(-5px);
  box-shadow:0 15px 25px rgba(0,0,0,.15);
}

.menu-btn span{
  display:block;
  font-size:50px;
  margin-bottom:10px;
}

.btn-config{
  background: white;
  border-radius: 12px;
  padding: 5px 2.5px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition:.2s;
  font-size:15px;
  font-weight:bold;
  color:#333;
}

.btn-config:hover{
  transform:translateY(-2px);
  box-shadow:0 15px 25px rgba(0,0,0,.15);
}

.admin-centralizado{
  grid-column: 2;
}